extends layout

block content
  h1= title
  p Welcome to #{title}

  table
    each value, key in data
      tr
        td #{key}
        td #{value}

----------------------------------------------------------

  .container              
   table.table
      tr
        th username
        th customer
        th language
        th app_id
      tbody
        each user in users
          tr
            td #{user.name}
            td #{user.customer}
            each application in applications
              td #{application.language}
              td #{application.app_id}


working----------------------------------------------------

extends layout

block content
  p Current table: #{title}
  p List of available tables:
  ul
    each tb in list_tb.values
      li #{tb[0]}
      
  form(name="add-estimation", method="get")
    div.input
      span.label Input table: 
      input(type="text", name="title")
    div.actions
      input(type="submit", value="add")

  .container              
   table.table
      tr
        th id
        th d
      tbody
        each i in data.values
          tr
            td #{i[0]}
            td #{i[1]}
