extends layout

block content
  h1= title
  p Welcome to #{title}

  table
    each value, key in data
      tr
        td #{key}
        td #{value}

----------------------------------------------------

extends layout

block content
  h1= title
  p Welcome to #{title}

  .container              
   table.table
      tr
        th username
        th customer
        th language
        th app_id
      tbody
        each user in users
          tr
            td #{user.name}
            td #{user.customer}
          each application in applications
              td #{application.language}
              td #{application.app_id}
